<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mobile App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Dashboard</ion-card-subtitle>
      <ion-card-title>Aplicación de Logística</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        App instalable en terminales Android para acceso a ejecución de procesos
        de almacén
      </p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Recursos</ion-label>
    </ion-list-header>
    <ion-item
      href="https://docs.google.com/document/d/19_28KUSdaOvCU-UblzlVZGvCzZ--wNv1nxvnFShnTKQ/edit#"
    >
      <ion-label>API</ion-label>
    </ion-item>
    <ion-item
      href="https://docs.google.com/document/d/19_28KUSdaOvCU-UblzlVZGvCzZ--wNv1nxvnFShnTKQ/edit#"
    >
      <ion-label>SGA (Sistema de Gestión de Almacén) </ion-label>
    </ion-item>
    <ion-item
      href="https://docs.google.com/document/d/19_28KUSdaOvCU-UblzlVZGvCzZ--wNv1nxvnFShnTKQ/edit#"
    >
      <ion-label>AL (Aplicación de Logística)</ion-label>
    </ion-item>
    <ion-item
      href="https://docs.google.com/document/d/19_28KUSdaOvCU-UblzlVZGvCzZ--wNv1nxvnFShnTKQ/edit#"
    >
      <ion-label>AGIL (Aplicación de Gestión Integral Logística)</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
