.wrapper-login-form {
  display: flex;
  flex-direction: column;
  height: 100%;

  ion-row.logo-wrapper {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    padding: 2rem;
  }

  ion-row.input-wrapper {
    display: flex;
    flex-direction: column;
    flex: 0 1 120px;
  }

  ion-row.actions-wrapper {
    display: flex;
    flex-direction: column;
    flex: 0 1 95px;
  }

  overflow: hidden;
}
