<ion-app [ngClass]="{ 'sm-custom': displaySmallSidebar }">
  <ion-header
    *ngIf="showMainHeader"
    [ngClass]="{ 'mainheader mainheader-fullheight': showMainHeader }"
  >
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button
          (window:resize)="onResize($event)"
          *ngIf="deploySidebarSmallDevices"
          (click)="toggleSidebarSmallDevices()"
        >
          <ion-icon name="arrow-round-back" class="toogleArrow"></ion-icon>
        </ion-button>
        <ion-button
          (window:resize)="onResize($event)"
          *ngIf="!deploySidebarSmallDevices"
          (click)="toggleSidebar()"
        >
          <ion-icon name="arrow-round-back" class="toogleArrow"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ currentRoute }}</ion-title>
      <ion-buttons slot="secondary">
        <ion-button>
          <ion-icon slot="icon-only" name="contact"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-split-pane>
    <ion-menu menuId="sidebar" class="sidebar">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>
            <ion-icon name="menu" padding-right></ion-icon>
            <img
              *ngIf="!displaySmallSidebar"
              class="ion-padding-start"
              src="../assets/img/Krack-Logo.svg"
              width="125vw"
              alt="krack logo sidebar"
            />
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
          <ion-list no-padding lines="none">
            <ion-item
              [routerDirection]="'root'"
              [routerLink]="[p.url]"
              (click)="tapOption(p)"
            >
              <ion-icon [slot]="iconsDirection" [name]="p.icon"></ion-icon>
              <ion-label [ngClass]="{ fadeout: iconsDirection === 'end' }">
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>

    <ion-router-outlet main> </ion-router-outlet>
  </ion-split-pane>
</ion-app>
